body{
    margin: 0;
    padding: 0;
}

.sec1{
    background-image: url(./../img/banner-overlay-img.png);
    height: 800px;
    width: 100%;
}

.sec1Top{
    height: 200px;
    width: 100%;
    display: flex;
}

.headerLeft{
    height: 100% ;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoHeader{
    height: 150px;
    width: 170px;
}

.headerRight{
    height: 100% ;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar1{
    display: flex;
    gap: 50px;
    list-style-type: none;
    color: white;
    font-size: x-large;
}

.ContactUs{
    background-color: #08d3f1;
    border-radius: 38%;
    padding: 10px 20px;
}

.sec1Bottom{
    height: 600px;
    width: 100%;
}

.sec1BottomText{
    height: 100%;
    width: 50%;
}

