body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
}

.sec1{
    background-image: url(./../img/banner-overlay-img.png);
    height: 800px;
    width: 100%;
}

header{
    height: 200px;
    width: 100%;
    display: flex;
}

